# 1. 忽略 Python 缓存和环境
__pycache__/
*.pyc
.venv/
venv/
.idea/
.vscode/

# 2. 忽略生成的临时报告文件 (在 GitLab 上保持干净)
# 只要是 json, txt, md 结尾的通常是生成物 (除了 README)
*.json
*.txt
*.md

# 3. 但是！我要保留 README.md 和 requirements.txt
!README.md
!requirements.txt
!examples/Final_Drift_Analysis_Report.md

# 4. 忽略 Mac/Windows 系统文件
.DS_Store
Thumbs.db